.line {
  position: relative;
  border-left: 4px solid black;
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.06);
  margin: 11px 0;
  padding: 25px 16px;
  border-radius: 4px;
  background-color: white;
}

.line__name {
  text-align: left;
  margin-left: 5px;
  color: black;
  font-weight: 600;
}

.line__status {
  color: grey;
}

.line__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line__status__container {
  display: flex;
  align-items: center;
}

.line__status__text {
  height: fit-content;
  color: #757575;
  font-size: 12px;
}

.line__status__indicator {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
}

.bakerloo {
  /* background-color: rgba(179, 99, 5, 0.2); */
  border-left: 4px solid rgba(179, 99, 5, 0.8);
}

.bakerloo .line__name {
  color: rgba(179, 99, 5, 0.9);
}

.central {
  /* background-color: rgba(227, 32, 23, 0.2); */
  border-left: 4px solid rgba(227, 32, 23, 0.8);
}

.central .line__name {
  color: rgba(227, 32, 23, 0.9);
}

.circle {
  /* background-color: rgba(255, 211, 0, 0.2); */
  border-left: 4px solid rgba(255, 211, 0, 0.8);
}

.circle .line__name {
  color: rgba(255, 211, 0, 0.8);
}

.district {
  /* background-color: rgba(0, 120, 42, 0.2); */
  border-left: 4px solid rgba(0, 120, 42, 0.8);
}

.district .line__name {
  color: rgba(0, 120, 42, 0.8);
}

.hammersmith {
  /* background-color: rgba(243, 169, 187, 0.2); */
  border-left: 4px solid rgba(243, 169, 187, 0.2);
}

.hammersmith .line__name {
  color: rgba(243, 169, 187, 0.2);
}

.jubilee {
  /* background-color: rgba(160, 165, 169, 0.2); */
  border-left: 4px solid rgba(160, 165, 169, 0.8);
}

.jubilee .line__name {
  color: rgba(160, 165, 169, 0.8);
}

.metropolitan {
  /* background-color: rgba(155, 0, 86, 0.2); */
  border-left: 4px solid rgba(155, 0, 86, 0.8);
}

.metropolitan .line__name {
  color: rgba(155, 0, 86, 0.8);
}

.northern {
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-left: 4px solid rgba(0, 0, 0, 0.8);
}

.northern .line__name {
  color: 4px solid rgba(0, 0, 0, 0.8);
}

.piccadilly {
  /* background-color: rgba(0, 54, 136, 0.2); */
  border-left: 4px solid rgba(0, 54, 136, 0.8);
}

.piccadilly .line__name {
  color: rgba(0, 54, 136, 0.8);
}

.victoria {
  /* background-color: rgba(0, 152, 212, 0.2); */
  border-left: 4px solid rgba(0, 152, 212, 0.8);
}

.victoria .line__name {
  color: rgba(0, 152, 212, 0.8);
}

.waterloo {
  /* background-color: rgba(149, 205, 186, 0.2); */
  border-left: 4px solid rgba(149, 205, 186, 0.8);
}

.waterloo .line__name {
  color: rgba(149, 205, 186, 0.8);
}
