.menu-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: white;
  box-shadow: 0px 0px 4px 0px #0000001c;
}

.menu-bar__wrapper {
  display: flex;
}

.menu-bar ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu-bar__home {
  height: 30px;
  width: 30px;
}
